<div>
  <h1 class="title">Cards Pokemon</h1>
  <div class="container">
    <input type="text" (keyup)="onChangeSearch($event)" placeholder="Search by card name" class="input-search"/>
  </div>
  <div class="container">
    <div class="info" *ngIf="cards.length === 0 && !loading">Not a card with that name was found!</div>
  </div>
  <div class="container">
    <div class="card" *ngFor="let card of cards | sortBy: 'name'; index as i">
      <a [routerLink]="['/card', card.id]" routerLinkActive="active">
        <img [src]="card.imageUrl" />
      </a>
    </div>
  </div>
</div>