<a routerLink="/cards" class="btn-go-back">
  <img width="60" src="assets/images/go-back.png" alt="" />
</a>
<h1 class="title">Pokemon</h1>
<app-activity-indicator *ngIf="loading"></app-activity-indicator>
<div class="container">
  <div class="item">
    <img width="100%" [src]="card.imageUrlHiRes" />
  </div>
  <div class="item">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Type(s)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="nowrap">{{ card.id }}</td>
          <td>{{ card.name }}</td>
          <td>{{ card.types }}</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Resistances</th>
          <th>Weaknesses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ card.hp }}</td>
          <td>
            <span *ngFor="let weaknesses of card.weaknesses"
              >Type: {{ weaknesses.type }} Value: {{ weaknesses.value }}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    
    <table>
      <thead>
        <tr>
          <th>Attack</th>
          <th>Mana cost</th>
          <th>Damage</th>
          <th>description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attack of card.attacks">
          <td>{{ attack.name }}</td>
          <td>{{ attack.convertedEnergyCost }}</td>
          <td>{{ attack.damage }}</td>
          <td>{{ attack.text }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
